<div class="row" id="mainintro">
  <div class="span12">
    <div class="centered">
      <iframe width="853" height="480" src="http://www.youtube.com/embed/NtbQ_jXitqQ?list=UUjEH3bfJQ-wLtROSmndOZdQ" frameborder="0" allowfullscreen></iframe>
      <h1>Rails Ramp Up Course with Coaching</h1>
      <h1><small>Build & Launch a Ruby on Rails Application in 12 Weeks Online</small></h1>
    </div>
    <div class="row">
      <div class="span8 offset2 register">
        <%= link_to image_tag("register-here.png"),
            "http://railsrampup.eventbrite.com" %>
        <h1 style="margin: 30px;">OR</h1>
      </div>

    </div>
    <div class="row" style="margin-bottom: 30px;">
      <div class="span8 offset2 centered" style="border: 2px dashed red; background-color: white">
        <div style="padding: 20px; font-size: 17px;">
        Join the waiting list and get 3 free training sessions
        <strong>"Installing Ruby on Rails"</strong>, <br/>
        <strong>"Setting Up Your First Rails App"</strong> and <strong>"Debugging Ruby and Rails"</strong><br/>
        <!-- AWeber Web Form Generator 3.0 -->
        <style type="text/css">
          #af-form-279015382 .af-body .af-textWrap{width:98%;display:block;float:none;}
          #af-form-279015382 .af-body .privacyPolicy{color:#000000;font-size:11px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-body a{color:#094C80;text-decoration:underline;font-style:normal;font-weight:normal;}
          #af-form-279015382 .af-body input.text, #af-form-279015382 .af-body textarea{background-color:#FFFFFF;border-color:#919191;border-width:1px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-body input.text:focus, #af-form-279015382 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:1px;border-style:solid;}
          #af-form-279015382 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:12px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:no-repeat;background-position:inherit;background-image:none;color:#000000;font-size:11px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-footer{padding-right:15px;padding-left:15px;background-color:#transparent;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#000000;font-size:12px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-header{padding-bottom:9px;padding-top:9px;padding-right:10px;padding-left:10px;background-image:url('http://forms.aweber.com/images/auto/body/009/5ff/005/999');background-position:top left;background-repeat:repeat-x;background-color:#005999;border-width:1px;border-bottom-style:none;border-left-style:none;border-right-style:none;border-top-style:none;color:#FFFFFF;font-size:16px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .af-quirksMode .bodyText{padding-top:2px;padding-bottom:2px;}
          #af-form-279015382 .af-quirksMode{padding-right:15px;padding-left:15px;}
          #af-form-279015382 .af-standards .af-element{padding-right:15px;padding-left:15px;}
          #af-form-279015382 .bodyText p{margin:1em 0;}
          #af-form-279015382 .buttonContainer input.submit{background-image:url("http://forms.aweber.com/images/auto/gradient/button/07c.png");background-position:top left;background-repeat:repeat-x;background-color:#0057ac;border:1px solid #0057ac;color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
          #af-form-279015382 .buttonContainer input.submit{width:auto;}
          #af-form-279015382 .buttonContainer{text-align:right; margin-top: -5px}
          #af-form-279015382 body,#af-form-279015382 dl,#af-form-279015382 dt,#af-form-279015382 dd,#af-form-279015382 h1,#af-form-279015382 h2,#af-form-279015382 h3,#af-form-279015382 h4,#af-form-279015382 h5,#af-form-279015382 h6,#af-form-279015382 pre,#af-form-279015382 code,#af-form-279015382 fieldset,#af-form-279015382 legend,#af-form-279015382 blockquote,#af-form-279015382 th,#af-form-279015382 td{float:none;color:inherit;position:static;margin:0;padding:0;}
          #af-form-279015382 button,#af-form-279015382 input,#af-form-279015382 submit,#af-form-279015382 textarea,#af-form-279015382 select,#af-form-279015382 label,#af-form-279015382 optgroup,#af-form-279015382 option{float:none;position:static;margin:0;}
          #af-form-279015382 div{margin:0;}
          #af-form-279015382 fieldset{border:0;}
          #af-form-279015382 form,#af-form-279015382 textarea,.af-form-wrapper,.af-form-close-button,#af-form-279015382 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
          #af-form-279015382 input,#af-form-279015382 button,#af-form-279015382 textarea,#af-form-279015382 select{font-size:100%;}
          #af-form-279015382 p{color:inherit;}
          #af-form-279015382 select,#af-form-279015382 label,#af-form-279015382 optgroup,#af-form-279015382 option{padding:0;}
          #af-form-279015382 table{border-collapse:collapse;border-spacing:0;}
          #af-form-279015382 ul,#af-form-279015382 ol{list-style-image:none;list-style-position:outside;list-style-type:disc;padding-left:40px;}
          #af-form-279015382,#af-form-279015382 .quirksMode{width:225px;}
          #af-form-279015382.af-quirksMode{overflow-x:hidden;}
          #af-form-279015382{background-color:#F0F0F0;border-color:#CFCFCF;border-width:1px;border-style:solid;}
          #af-form-279015382{display:block;}
          #af-form-279015382{overflow:hidden;}
          .af-body .af-textWrap{text-align:left;}
          .af-body input.image{border:none!important;}
          .af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
          .af-body input.text{width:100%;float:none;padding:2px!important;}
          .af-body.af-standards input.submit{padding:4px 12px;}
          .af-clear{clear:both;}
          .af-element label{text-align:left;display:block;float:left;}
          .af-element{padding:5px 0;}
          .af-form-wrapper{text-indent:0;}
          .af-form{text-align:left;margin:auto;}
          .af-header,.af-footer{margin-bottom:0;margin-top:0;padding:10px;}
          .af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
          .lbl-right .af-element label{text-align:right;}
          body {
          }
        </style>
        <form method="post" class="af-form-wrapper" action="http://www.aweber.com/scripts/addlead.pl"  >
          <div style="display: none;">
            <input type="hidden" name="meta_web_form_id" value="279015382" />
            <input type="hidden" name="meta_split_id" value="" />
            <input type="hidden" name="listname" value="railsrampup" />
            <input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_a5bfdc45f0ee29506978a45aa701b7bb" />

            <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
            <input type="hidden" name="meta_message" value="1" />
            <input type="hidden" name="meta_required" value="name,email" />

            <input type="hidden" name="meta_tooltip" value="" />
          </div>
          <div class="af-element">
            <input class="text" id="awf_field-48680015" type="text"
                   name="name" value="" tabindex="500" placeholder="Name" />
            <input class="text" id="awf_field-48680016" type="text"
                   name="email" value="" tabindex="501" placeholder="Email Address" />
            <input name="submit" class="submit" type="submit"
                   value="Submit" tabindex="503" style="margin-top: -10px" />
            <div class="af-clear"></div>
          </div>
          <div class="af-element privacyPolicy" style="text-align: center; margin-top: 10px;">
            <p style="margin-top: -25px;">We respect your <a title="Privacy Policy" href="http://www.aweber.com/permission.htm" target="_blank">email privacy</a></p>
            <div class="af-clear"></div>
          </div>
          <div style="display: none;"><img src="http://forms.aweber.com/form/displays.htm?id=TOycDIyszBxM" alt="" /></div>
        </form>
        <script type="text/javascript">
          <!--
          (function() {
          var IE = /*@cc_on!@*/false;
          if (!IE) { return; }
          if (document.compatMode && document.compatMode == 'BackCompat') {
          if (document.getElementById("af-form-279015382")) {
          document.getElementById("af-form-279015382").className = 'af-form af-quirksMode';
          }
          if (document.getElementById("af-body-279015382")) {
          document.getElementById("af-body-279015382").className = "af-body inline af-quirksMode";
          }
          if (document.getElementById("af-header-279015382")) {
          document.getElementById("af-header-279015382").className = "af-header af-quirksMode";
          }
          if (document.getElementById("af-footer-279015382")) {
          document.getElementById("af-footer-279015382").className = "af-footer af-quirksMode";
          }
          }
          })();
          -->
        </script>

        <!-- /AWeber Web Form Generator 3.0 -->
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="guarantee" style="margin-bottom: 30px">
  <div class="span8 offset2" style="background: #ddddff;">
    <div style=" padding: 20px;">
      <%= image_tag "guarantee.png", style: "float: left;" %>
      <h4>The Charles Max Wood 100% Iron Clad Money Back Guarantee.</h4>

      <p>This is a 12 week course.  If after 4 weeks of the course, You are not 100% Satisfied,  Simply email
        or call me and I will refund your course registration fees.  No Hoops to jump through.</p>

      <p>I want you to <strong>love this course</strong> and feel that
        it's worth a <strong>lot</strong> more than I what you are paying.
        If You're not 100% completely satisfied with the course after 4 weeks, I will refund your
        money. Period.</p>

      <%= image_tag "signature.png", class: "signature", style: "float: right;" %>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="launchbox">
      <h1 class="centered">Here's what you get from the Rails Ramp Up course...</h1>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "telephone.png" %>
        </div>
        <div class="body">
          <h3>Unlimited Access to an Expert</h3>
          <p>Charles Max Wood will be available to answer your questions
            and solve your problems. You can get help through the forums,
            over email, and through screensharing via Skype and
            GoToMeeting.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "clipboard.png" %>
        </div>
        <div class="body">
          <h3>Live Coding Demonstrations</h3>
          <p>Each week's lesson will include a live coding
            demonstration where I'll use the principles taught to add
            functionality to my own application. This way, you not only
            get the training material, but can see how to apply it.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "comment-bubble.png" %>
        </div>
        <div class="body">
          <h3>Online Discussion Forum</h3>
          <p>Our E-learning software provides a forum for the course
            where you can ask questions, get answers, and collaborate
            with other students.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "chalkboard.png" %>
        </div>
        <div class="body">
          <h3>Over 20 Hours of Video</h3>
          <p>Each week we'll cover an aspect of Ruby on Rails. Most other
            training courses are purely informational. Ours are
            practical. We'll start with the information and end with a
            live demonstration of how we'd use it in a real application.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "compass.png" %>
        </div>
        <div class="body">
          <h3>Weekly Q&amp;A Sessions</h3>
          <p>Each week will include 2 live Question &amp; Answer sessions that will last an hour each. One in the morning and the other in the evening Mountain Time to accommodate different schedules.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "video-clapperboard.png" %>
        </div>
        <div class="body">
          <h3>Digital Copies of Online Lessons</h3>
          <p>Each lesson will be available for you to watch online or to download and watch on your computer or other device.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "pencil.png" %>
        </div>
        <div class="body">
          <h3>Sample Code</h3>
          <p>Each coding session or video demonstration will include a link to where you can download that lesson's code.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "target-dart.png" %>
        </div>
        <div class="body">
          <h3>Weekly Assignments</h3>
          <p>The best way to learn Ruby on Rails is by using it. You will be expected to work on an app of your own choosing and an app assigned to the entire class.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="whatyouget">
        <div class="image">
          <%= image_tag "clouds.png" %>
        </div>
        <div class="body">
          <h3>Launch Instructions</h3>
          <p>Writing an application is much more important when you're
            aiming to launch. We'll push you to finish something you can share and show you how to put it on a server.</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<div class="row register">
  <div class="span12">
    <%= link_to image_tag("register-here.png"),
        "http://railsrampup.eventbrite.com" %>
  </div>
</div>

<div class="row" id="schedule">
  <div class="span12">
    <h3>Agenda</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Week</th>
          <th>Traning Session Title</th>
          <th>Topics & Description</th>
          <th>Sign Up</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Introduction to Rails</td>
          <td>
            <ul>
              <li>Installing Ruby on Rails on Windows</li>
              <li>Installing Ruby on Rails on Mac OS X and Linux</li>
              <li>Setting Up Your First Rails Application</li>
              <li>Introduction to Bundler</li>
              <li>Introduction to Rake</li>
              <li>The Rails Command Line Utility</li>
              <li>Model-View-Controller in Rails</li>
              <li>Coding Demo: Build a Blog in 15 Minutes</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Introduction to Rails Models</td>
          <td>
            <ul>
              <li>Introduction to Rails Generators</li>
              <li>Introduction to Rails Models</li>
              <li>The Database and Migrations</li>
              <li>Model Associations</li>
              <li>Model Validations</li>
              <li>Model CRUD (create, read, update, and delete) Operations</li>
              <li>Callbacks and Observers</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Introduction to Rails Views</td>
          <td>
            <ul>
              <li>A Brief Introduction to Rails Controllers</li>
              <li>ERb Templates</li>
              <li>Helpers and Helper Methods</li>
              <li>Forms and Form Helpers</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Introduction to Rails Controllers</td>
          <td>
            <ul>
              <li>Introduction to Rails Controllers</li>
              <li>Parameters and Sessions</li>
              <li>Rails Routing</li>
              <li>Before, After, and Around Filters</li>
              <li>Basic HTTP Authentication</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Basic API's in Rails</td>
          <td>
            <ul>
              <li>Non-HTML Views (XML and JSON views)</li>
              <li>ActiveModel Serializers</li>
              <li>Securing Your API's</li>
              <li>Versioning Your APi's</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>Introduction to the Rails Asset Pipeline</td>
          <td>
            <ul>
              <li>CSS and Javascript Compilation</li>
              <li>Dynamic CSS and Javascript</li>
              <li>Images</li>
              <li>Introduction to CoffeeScript</li>
              <li>Including Ember or Angular</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>Introduction to the Rails Asset Pipeline</td>
          <td>
            <ul>
              <li>Introduction to SCSS Basics</li>
              <li>CSS Frameworks (Twitter Bootstrap)</li>
              <li>Introduction to Compass</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>Introduction to Some Common Gems (Libraries)</td>
          <td>
            <ul>
              <li>Introduction to Devise (Authentication)</li>
              <li>Introduction to OmniAuth (Authentication)</li>
              <li>Introduction to CarrierWave (File & Image Uploads)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>9</td>
          <td>Introduction to Some Common Gems (Libraries)</td>
          <td>
            <ul>
              <li>Introduction to Stripe (Charging Money & Subscriptions)</li>
              <li>Introduction to New Relic (Application Monitoring)</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>10</td>
          <td>Introduction to Testing Rails with RSpec</td>
          <td>
            <ul>
              <li>Introduction to RSpec</li>
              <li>Unit Testing Models</li>
              <li>Unit Testing Controllers</li>
              <li>Testing Rails Views</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>11</td>
          <td>Introduction to Acceptance and Javascript Testing</td>
          <td>
            <ul>
              <li>Introduction to Capybara</li>
              <li>Introduction to Jasmine</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
        <tr>
          <td>12</td>
          <td>Introduction to Deploying Rails</td>
          <td>
            <ul>
              <li>Introduction to Heroku</li>
              <li>Thin, Unicorn, and Friends</li>
              <li>Apache with Phusion Passenger</li>
              <li>SSL Certificates</li>
            </ul>
          </td>
          <td>
            <p>
              <%= link_to "Sign Up",
                  "http://railsrampup.eventbrite.com",
                  class: "btn btn-primary" %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row register">
  <div class="span12">
    <%= link_to image_tag("register-here.png"),
        "http://railsrampup.eventbrite.com" %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3 id="about">About Charles Max Wood</h3>
    <p>
      <%= image_tag "cmaxw.jpg", style: "float: left; padding-right: 5px" %>
      Charles Max Wood is a programmer, podcaster, and family man
      living in Lehi, Utah. </p>
    <p>He is the host of several podcasts including <%= link_to "Ruby Rogues", "http://rubyrogues.com" %>,
      <%= link_to "Javascript Jabber", "http://javascriptjabber.com" %>, <%= link_to "The Freelancers' Show", "http://freelancersshow.com" %>, and <%= link_to "iPhreaks", "http://iphreaksshow.com" %></p>
    <p> He has recorded multiple programming tutorials at <%= link_to "Teach Me To Code", "http://teachmetocode.com" %>, and spoken at several
      conferences.</P>
    <p> He has been programming with Ruby on Rails for 7
      years and built social networks,
      reporting applications, mapping and geospacial applications, and
      financial applications.
    </p>

    <p>Charles is currently a freelance web developer at
      Intentional Excellence Productions, LLC.</p>

    <div style="clear: both;"></div>
    <h4>Speaking/Conferences</h4>
    <p style="margin-top: 10px;">
      <ul>
        <li>
          <%= link_to "Cloning Twitter: Rails + Cassandra = Scalable Sharing",
              "http://confreaks.com/videos/731-rockymtnruby2011-cloning-twitter-rails-cassandra-scalable-sharing"
              %>
        </li>
        <li>
          <%= link_to "Ruby Rogues - Live Podcast!",
              "http://confreaks.com/videos/904-railsconf2012-ruby-rogues-live-podcast"
              %>
        </li>
        <li>
          <%=
             link_to "Facing the Monolith: Overcoming Monolithic
       Applications with SOA",
             "http://confreaks.com/videos/1249-aloharuby2012-facing-the-monolith-overcoming-monolithic-applications-with-soa"
             %>
        </li>
      </ul>
    </p>
  </div>

  <div class="span6">
    <h3>About Ruby on Rails</h3>
    <p>
      Ruby on Rails is a terrific framework for building web
      applications. It hides a lot of the details of interacting with
      the database. It provides a clear way to organize your
      code. And, it is arguably the fastest way to build a website or
      web application.
    </p>

    <p>
      Ruby on Rails' modular design gives the programmer a simple way
      to substitute pieces of technology with others. It allows you
      switch out frameworks for CSS, JavaScript, testing, database
      access, and many others.
    </p>

    <p>
      Many of the functions and methods used in Ruby on Rails are
      named after what they do. These helper methods make building
      forms, lists, and other web components very easy.
    </p>

    <p>
      Building XML and JSON apis are exceptionally simple in
      Rails. You can build a view (or template) for the responses to
      API calls or you can simply use the built-in methods for
      converting objects to XML or JSON.
    </p>
  </div>
</div>

<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
  (function () {
  var articleId = fyre.conv.load.makeArticleId(null);
  fyre.conv.load({}, [{
  el: 'livefyre-comments',
  network: "livefyre.com",
  siteId: "322923",
  articleId: articleId,
  signed: false,
  collectionMeta: {
  articleId: articleId,
  url: fyre.conv.load.makeCollectionUrl(),
  }
  }], function() {});
  }());
</script>
<!-- END: Livefyre Embed -->
